.pi-eye:before {
    margin-left: 70px;
}
.pi-list:before{
    margin-left: 50px;
}
.pi pi-user{
    margin-left: 100px;
}

.icon-table:before {
    content: "\e939"; 
    position: relative; 
    left: 10px; 
     right:10px 
}
